<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>
    <mappers>
        <mapper resource="mybatis/mappers/GroomingMapper.xml"/>
        <mapper resource="mybatis/mappers/MedicalMapper.xml"/>
        <mapper resource="mybatis/mappers/NoticeMapper.xml"/>
        <mapper resource="mybatis/mappers/PetMapper.xml"/>
        <mapper resource="mybatis/mappers/QnaMapper.xml"/>
        <mapper resource="mybatis/mappers/UserMapper.xml"/>
        <mapper resource="mybatis/mappers/Mypet_Kakao_Mapper.xml"/>
        <mapper resource="mybatis/mappers/Mypet_Google_Mapper.xml"/>
        <mapper resource="mybatis/mappers/ManageMapper.xml"/>
        <mapper resource="mybatis/mappers/CommunityMapper.xml"/>
        <mapper resource="mybatis/mappers/CommentMapper.xml"/>
        <mapper resource="mybatis/mappers/NaverLoginMapper.xml"/>
        <mapper resource="mybatis/mappers/ServiceHistoryMapper.xml"/>
        <mapper resource="mybatis/mappers/GradeHistoryMapper.xml"/>
        <mapper resource="mybatis/mappers/PetWeightMapper.xml"/>
    </mappers>
</configuration>