<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.CommunityDAO">

	<select id="getCommunityList" resultType="com.boot.dto.Mypet_CommunityDTO">
	    <![CDATA[
	        SELECT POST_NO, USER_NO, USER_NAME, POST_TITLE, POST_CONTENT, CREATED_DATE, VIEW_COUNT
	        FROM (
	            SELECT r,
	                   POST_NO, USER_NO, USER_NAME, POST_TITLE, POST_CONTENT, CREATED_DATE, VIEW_COUNT
	            FROM (
	                SELECT ROW_NUMBER() OVER (ORDER BY POST_NO DESC) AS r,
	                       POST_NO, USER_NO, USER_NAME, POST_TITLE, POST_CONTENT, CREATED_DATE, VIEW_COUNT
	                FROM COMMUNITY
	            ) a
	            WHERE r <= (#{pageNum} * #{amount})
	        ) aa
	        WHERE r > (#{pageNum}-1) * #{amount}
	    ]]>
	</select>



    <select id="getTotalCount" resultType="int">
        select count(*) from COMMUNITY
    </select>

	<insert id="communityWrite">
		INSERT INTO COMMUNITY(POST_NO, USER_NO, USER_NAME, POST_TITLE, POST_CONTENT, POST_FILE, CREATED_DATE)
		VALUES(SEQ_POST_NO.NEXTVAL, #{user_no}, #{user_name}, #{post_title}, #{post_content}, #{post_file}, sysdate)
	</insert>
	
	<update id="increaseViewCount">
	    UPDATE COMMUNITY
	    SET view_count = view_count + 1
	    WHERE POST_NO = #{postNo}
	</update>
	
	<select id="communityContentView" resultType="com.boot.dto.Mypet_CommunityDTO">
    	select POST_NO, USER_NAME, POST_TITLE, POST_CONTENT, USER_NO, POST_FILE, VIEW_COUNT , CREATED_DATE from COMMUNITY where POST_NO=#{postNo}
    </select>
	
	<update id="communityModify">
		update COMMUNITY set post_title=#{post_title}, post_content=#{post_content}, post_file=#{post_file} 
    	where post_no=#{post_no}
	</update>
	
	<delete id="communityDelete">
		delete from COMMUNITY where POST_NO=#{post_no}
	</delete>
	
	
	<select id="searchPostsPaging" resultType="com.boot.dto.Mypet_CommunityDTO">
	    SELECT *
	    FROM (
	        SELECT ROWNUM rn, A.*
	        FROM (
	            SELECT *
	            FROM COMMUNITY
	            <where>
	                <if test="type != null and type.equals('title')">
	                    AND POST_TITLE LIKE '%' || #{keyword} || '%'
	                </if>
	
	                <if test="type != null and type.equals('content')">
	                    AND POST_CONTENT LIKE '%' || #{keyword} || '%'
	                </if>
	
	                <if test="type != null and type.equals('title_content')">
	                    AND (POST_TITLE LIKE '%' || #{keyword} || '%'
	                         OR POST_CONTENT LIKE '%' || #{keyword} || '%')
	                </if>
	            </where>
	            ORDER BY POST_NO DESC
	        ) A
	        WHERE ROWNUM &lt;= #{pageNum} * #{amount}
	    )
	    WHERE rn > (#{pageNum} - 1) * #{amount}
	</select>




	
	<select id="searchCount" resultType="int">
	    SELECT COUNT(*)
		    FROM COMMUNITY
		    <where>
		        <if test="type != null and type.equals('title')">
		            AND POST_TITLE LIKE '%' || #{keyword} || '%'
		        </if>
		        
		        <if test="type != null and type.equals('content')">
		            AND POST_CONTENT LIKE '%' || #{keyword} || '%'
		        </if>
		        
		        <if test="type != null and type.equals('title_content')">
		            AND (POST_TITLE LIKE '%' || #{keyword} || '%'
		                OR POST_CONTENT LIKE '%' || #{keyword} || '%')
		        </if>
		    </where>
		</select>

</mapper>







