<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.ManageDAO">
    <select id="UserList" resultType="com.boot.dto.Mypet_UserDTO">
        SELECT *
        FROM user_info
    </select>

    <select id="UserInfo" resultType="com.boot.dto.Mypet_UserDTO">
        SELECT *
        FROM user_info
        WHERE user_no = #{user_no}
    </select>

    <select id="PetList" resultType="com.boot.dto.Mypet_PetDTO">
        SELECT *
        FROM pet_info
        WHERE user_no = #{user_no}
    </select>

    <select id="VeterinaryResList" resultType="com.boot.dto.MedicalResDTO">
        SELECT vr.*, p.pet_breed
        FROM veterinary_res vr
        JOIN pet_info p ON vr.pet_no = p.pet_no
    </select>

    <select id="GroomingResList" resultType="com.boot.dto.GroomingResDTO">
        SELECT gr.*, p.pet_breed
        FROM grooming_res gr
        JOIN pet_info p ON gr.pet_no = p.pet_no
    </select>

    <update id="confirmRes" parameterType="map">
        UPDATE ${params.tableName}
        SET res_status = '예약확정'
        WHERE res_no = #{params.res_no}
    </update>

    <update id="cancelRes" parameterType="map">
        UPDATE ${params.tableName}
        SET res_status = '예약취소',
        cancel_reason = #{params.cancel_reason}
        WHERE res_no = #{params.res_no}
    </update>

</mapper>