<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.ManageDAO">
    <select id="UserList" resultType="com.boot.dto.Mypet_UserDTO">
        <![CDATA[
        SELECT *
        FROM (
            SELECT rownum AS rn, inner_query.*
            FROM (
                SELECT
                    user_no,
                    user_id,
                    user_name,
                    user_phone,
                    user_status
                FROM user_info
        ]]>
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                AND user_name LIKE '%' || #{params.keyword} || '%'
            </if>
            <if test="params.status != null and params.status != ''">
                AND user_status = #{params.status}
            </if>
        </where>
        <![CDATA[
                ORDER BY user_no DESC
            ) inner_query
            WHERE rownum <= #{cri.pageNum} * #{cri.amount}
        )
        WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="UserInfo" resultType="com.boot.dto.Mypet_UserDTO">
        SELECT *
        FROM user_info
        WHERE user_no = #{user_no}
    </select>

    <select id="PetList" resultType="com.boot.dto.Mypet_PetDTO">
        SELECT *
        FROM pet_info
        WHERE user_no = #{user_no}
    </select>

    <select id="VeterinaryResList" resultType="com.boot.dto.MedicalResDTO">
        <![CDATA[
        SELECT *
        FROM (
            SELECT rownum AS rn, inner_query.*
            FROM (
                SELECT
                    vr.*,
                    p.pet_breed
                FROM veterinary_res vr
                JOIN pet_info p ON vr.pet_no = p.pet_no
                ]]>
                <where>
                    <if test="params.keyword != null and params.keyword != ''">
                        AND user_name LIKE '%' || #{params.keyword} || '%'
                    </if>
                    <if test="params.status != null and params.status != ''">
                        AND res_status = #{params.status}
                    </if>
                </where>
                <![CDATA[
                ORDER BY vr.res_no DESC  /* 최신 예약순 정렬 */
            ) inner_query
            WHERE rownum <= #{cri.pageNum} * #{cri.amount}
        )
        WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <select id="GroomingResList" resultType="com.boot.dto.GroomingResDTO">
        <![CDATA[
        SELECT *
        FROM (
            SELECT rownum AS rn, inner_query.*
            FROM (
                SELECT
                    gr.*,
                    p.pet_breed
                FROM grooming_res gr
                JOIN pet_info p ON gr.pet_no = p.pet_no
                ]]>
                <where>
                    <if test="params.keyword != null and params.keyword != ''">
                        AND user_name LIKE '%' || #{params.keyword} || '%'
                    </if>
                    <if test="params.status != null and params.status != ''">
                        AND res_status = #{params.status}
                    </if>
                </where>
                <![CDATA[
                ORDER BY gr.res_no DESC  /* 최신 예약순 정렬 */
            ) inner_query
            WHERE rownum <= #{cri.pageNum} * #{cri.amount}
        )
        WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>

    <update id="confirmRes" parameterType="map">
        UPDATE ${params.tableName}
        SET res_status = '예약확정'
        WHERE res_no = #{params.res_no}
    </update>

    <update id="cancelRes" parameterType="map">
        UPDATE ${params.tableName}
        SET res_status = '예약취소',
        cancel_reason = #{params.cancel_reason}
        WHERE res_no = #{params.res_no}
    </update>

    <select id="getUserTotal" resultType="int">
        SELECT NVL(COUNT(*), 0)
        FROM user_info
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                AND user_name LIKE '%' || #{params.keyword} || '%'
            </if>
            <if test="params.status != null and params.status != ''">
                AND user_status = #{params.status}
            </if>
        </where>
    </select>


    <select id="getVetResTotal" resultType="int">
        SELECT NVL(COUNT(*), 0)
        FROM veterinary_res
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                AND user_name LIKE '%' || #{params.keyword} || '%'
            </if>
            <if test="params.status != null and params.status != ''">
                AND res_status = #{params.status}
            </if>
        </where>
    </select>

    <select id="getGroResTotal" resultType="int">
        SELECT NVL(COUNT(*), 0)
        FROM grooming_res
        <where>
            <if test="params.keyword != null and params.keyword != ''">
                AND user_name LIKE '%' || #{params.keyword} || '%'
            </if>
            <if test="params.status != null and params.status != ''">
                AND res_status = #{params.status}
            </if>
        </where>
    </select>

    <update id="UserStatusProcess" parameterType="map">
        UPDATE user_info
        <set>
            user_status = #{params.newStatus},
            <if test="params.newStatus == 'INACTIVE'">
                suspension_reason = #{params.suspension_reason}
            </if>
            <if test="params.newStatus == 'ACTIVE'">
                suspension_reason = NULL
            </if>
        </set>
        WHERE user_no = #{params.user_no}
    </update>

    <select id="getGradeHistory" resultType="com.boot.dto.GradeHistoryDTO">
        SELECT *
        FROM grade_history
        WHERE user_no = #{user_no}
        ORDER BY evaluation_date DESC
    </select>

    <select id="getServiceHistory" resultType="com.boot.dto.ServiceHistoryDTO">
        SELECT
        s.service_no,
        s.user_no,
        s.pet_no,
        p.pet_name,
        p.pet_breed,
        s.service_date,
        s.service_type,
        s.service_item,
        s.details_memo,
        s.completion_status,
        s.completion_date
        FROM service_history s
        JOIN pet_info p ON s.pet_no = p.pet_no
        WHERE s.user_no = #{user_no}
        ORDER BY s.service_date DESC
    </select>


    <insert id="insertServiceHistory" parameterType="com.boot.dto.ServiceHistoryDTO">
        INSERT INTO service_history (
        service_no,
        user_no,
        pet_no,
        service_date,
        service_type,
        service_item,
        details_memo,
        completion_status,
        completion_date
        ) VALUES (
        SEQ_SERVICE_NO.NEXTVAL,
        #{user_no},
        #{pet_no},
        #{service_date},
        #{service_type},
        #{service_item},
        #{details_memo},
        'N',
        NULL
        )
    </insert>


    <select id="getPetList" resultType="com.boot.dto.Mypet_PetDTO">
        SELECT *
        FROM pet_info
        WHERE user_no = #{user_no}
        ORDER BY pet_regdate DESC
    </select>


    <update id="completeService">
        UPDATE service_history
        SET completion_status = 'Y'
        WHERE service_no = #{service_no}
    </update>

    <select id="getCertificate"
            parameterType="map"
            resultType="com.boot.dto.CertificateDTO">

        SELECT
        -- 1. T_SERVICE (ServiceHistory)
        S.service_no,
        S.service_date,
        S.service_type,
        S.service_item,
        S.details_memo,

        -- 2. T_USER (UserInfo)
        U.user_no,
        U.user_name,
        U.user_addr,
        U.user_addr_detail,
        -- 나이 계산: 현재 연도 - 출생 연도 (DTO의 user_age 필드에 매핑)
        -- *** CORRECTED FOR ORACLE (Year Only) ***
        CAST(TO_CHAR(SYSDATE, 'YYYY') AS NUMBER) - CAST(TO_CHAR(U.user_birthday, 'YYYY') AS NUMBER) AS user_age,

        -- 3. T_PET (PetInfo)
        P.pet_no,
        P.pet_name,
        P.pet_gender,
        P.pet_age,
        P.pet_species,
        P.pet_breed

        FROM service_history S
        INNER JOIN user_info U ON S.user_no = U.user_no
        INNER JOIN pet_info P ON S.pet_no = P.pet_no

        WHERE S.service_no = #{params.service_no}
        AND U.user_no = #{params.user_no}
        AND P.pet_no = #{params.pet_no}
        -- (필요하다면 S.completion_status = 'Y' 조건 추가)

    </select>
</mapper>